---
layout: page
title: Portfolio
permalink: /
---
<script>
function ShowHide( show )
{
	var container = document.getElementsByName( "img-container" )[ 0 ];
	var gameobj = container.querySelectorAll( "div" );
	var validobj = [];
	var validimg = [];
	
	for( var i = 0, max = gameobj.length; i < max; ++i ) 
	{
		var aobj = gameobj[ i ].querySelectorAll( "a" )[ 0 ];
		var imgobj = aobj.querySelectorAll( "img" )[ 0 ];
		if( show == '' || imgobj.classList.contains( show ) )
		{
			gameobj[ i ].classList.add( "show" );
			/*gameobj[ i ].style.height = "300px";
			gameobj[ i ].style.width = "300px";
			imgobj.style.width = "300px";*/
			validobj.push( gameobj[ i ] );
			validimg.push( imgobj );
		}
		else
		{
			gameobj[ i ].classList.remove( "show" );
			
			/*gameobj[ i ].style.height = "0px";
			gameobj[ i ].style.width = "0px";
			imgobj.style.width = "0px";*/
		}
	}
	
	var perLine = Math.floor( container.offsetWidth / 300 );
	
	var topPoint = 0;
	for( var i = 0, max = validobj.length; i < max; i += perLine ) 
	{
		for( var u = i; u < Math.min( max, i + perLine ); ++u )
		{
			var obj = validobj[ u ];
			
			obj.style.left = ( 300 * ( u % perLine ) ).toString() + "px";
			obj.style.top = ( topPoint ).toString() + "px";
		}
		
		topPoint += 300;
	}
	
	container.style.height = ( topPoint ) + "px";
}

function OnLoad(e)
{
	ShowHide('');
}

window.addEventListener("load", OnLoad, false);
</script>

<link rel="stylesheet" href="{{ '/css/portfolio.css' | prepend: site.baseurl }}">

<h4>Filters</h4>
<div>
	<input type="checkbox" name="filter" value="uni"		checked>	University</input>
	<input type="checkbox" name="filter" value="released" 	checked>	Released
	<input type="checkbox" name="filter" value="ggj">					Global Game Jam
</div>

<div>
	<input type="button" value="All" 				onclick="ShowHide('');" />
	<input type="button" value="University" 		onclick="ShowHide('uni');" />
	<input type="button" value="Released" 			onclick="ShowHide('released');" />
	<input type="button" value="Global Game Jam" 	onclick="ShowHide('ggj');" />
</div>

<h4>Games</h4>
<div id="img-container" name="img-container" >
	{% for game in site.posts %}
		{% if game.status == "shown" %}
			<div name="div-game" class="div-game">
				<a name="a-game" href={{ game.url | prepend: site.baseurl }} >
					<img name="img-game" class="{{ game.category }}" src="{{ game.thumbnail }}" alt="{{ game.title }}" vertical-align=100px>
					</img>
				</a>
						<p align:"center";>{{ game.title }}</p>
			</div>
		{% endif %}
	{% endfor %}
</div>