---
layout: page
title: Portfolio
permalink: /
---
<script>
function ShowHide( show )
{
	var gameobj = document.getElementsByName("game");
	
	if( show === '' )
	{
		for( var i = 0, max = gameobj.length; i < max; ++i ) 
		{
			gameobj[ i ].style.width = "300px";
		}
	} else {
		for( var i = 0, max = gameobj.length; i < max; ++i ) 
		{
			console.log("doing something");
			if( gameobj[ i ].classList.contains( show ) )
			{
				gameobj[ i ].style.width = "300px";
			}
			else
			{
				gameobj[ i ].style.width = "0px";
			}
		}
	}
}
</script>

<link rel="stylesheet" href="{{ '/css/portfolio.css' | prepend: site.baseurl }}">

<h4>Filters</h4>
<input type="button" value="All" onclick="ShowHide('');" />
<input type="button" value="uni" onclick="ShowHide('uni');" />
<input type="button" value="ggj" onclick="ShowHide('ggj');" />
<input type="button" value="released" onclick="ShowHide('released');" />

<h4>Games</h4>
{% for game in site.posts %}
	{% if game.status == "shown" %}
		<a href={{ game.url | prepend: site.baseurl }} style="width:0px;height:0px;" >
			<img name="game" class="{{ game.category }}" src="{{ game.thumbnail }}" alt={{ game.title }} style="width:300px; height:auto;"/>
		</a>
	{% endif %}
{% endfor %}