$content-width: 90%;
$main: #19CCAA;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: white;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #1D1425;

a,
a:visited
{
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

a:hover
{
  color: grey;
  text-decoration: underline;
  font-weight: bold;
}
