---
layout: default
---
<link rel="stylesheet" href="{{ '/css/post.css' | prepend: site.baseurl }}">
<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/image_slider.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/post.js' | prepend: site.baseurl }}"></script>

<h2>{{ page.title }}</h2>
<!--<h3>{{ page.date }}</h3>-->

<!--{{ content }}-->

<!--<p>Release date: {{ page.release-date }}</>-->

<div class="slideshow">
	<div class="top-main">
		<div class="top-sub full-size">
			{% for preview in page.preview %}
				{% assign leftoffset = forloop.index0 | times:25 %}
				<div class="top-preview full-size {%if forloop.index0==0%}top-preview-show{%endif%}" id="{{ forloop.index0 }}">
					{% if preview.image %}
						<img class="top-image full-size" alt="MainScreenshot"
							{% if preview.preview-local %}
								src="{{ preview.preview-local | prepend: site.baseurl }}"
							{% elsif preview.preview-external %}
								src="{{ preview.preview-external }}"
							{% endif %}
						/>
					{% elsif preview.video %}
						{% if preview.preview-youtube %}
							<iframe class="top-video-youtube full-size" src="{{ preview.preview-youtube }}?version=3&enablejsapi=1" frameborder="0" allowscriptaccess="always" allowfullscreen></iframe>
						{% endif %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
		<button class="side-button slideshow-button button-left" onclick="ShowPreview(-1)">&#10094;</button>
		<button class="side-button slideshow-button button-right" onclick="ShowPreview(1)">&#10095;</button>
	</div>
	<div class="bottom-main">
		<div class="bottom-sub full-size">
			{% for preview in page.preview %}
				{% assign leftoffset = forloop.index0 | times:25 %}
				<div class="bottom-thumb" style="left:{{ leftoffset }}%;">
					<img class="bottom-thumb-image full-size" id="{{ forloop.index0 }}" alt="Thumbnail"
						{% if preview.thumb-local %}
							src="{{ preview.thumb-local | prepend: site.baseurl }}"
						{% elsif preview.thumb-external %}
							src="{{ preview.thumb-external }}"
						{% endif %}
						
						{% if preview.image %}
							onclick="Show( {{ forloop.index0 }} )"
						{% elsif preview.video %}
							onclick="Show( {{ forloop.index0 }} )"
						{% endif %}
					/>
				</div>
			{% endfor %}
		</div>
		<button class="side-button preview-button button-left" onclick="MovePreview(-1)">&#10094;</button>
		<button class="side-button preview-button button-right" onclick="MovePreview(1)">&#10095;</button>
	</div>
</div>

<h3>Description</h3>
{% if page.description %}
	<p>{{ page.description }}</p>
{% else %}
	<p>No 'description' tag</p>
{% endif %}

<br/>

{% if page.release-date %}
	<h3>Release Date</h3>
	<p>Released on &#10095; {{ page.release-date }}</p>
{% elsif page.finished-date %}
	<h3>Finished Date</h3>
	<p>Finished on &#10095; {{ page.finished-date }}</p>
{% else %}
	<p>No 'release-date' or 'finished-date' tag</p>
{% endif %}

<br/>

<h3>What I worked on</h3>
{% if page.workedon %}
	<ul>
		{% for responsibility in page.workedon %}
			<li>{{ responsibility }}</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No 'workedon' list</p>
{% endif %}

<br/>

<h3>Tools used</h3>
{% if page.tech %}
	<ul>
		{% for tech in page.tech %}
			<li>{{ tech }}</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No 'tech' list</p>
{% endif %}

<br/>

{% if page.link %}
	<h3>Links</h3>
	{% for link in page.links %}
		<p>{{ link.name }} &#10095; <a href="{{ link.link }}">{{ link.display-link }}</a></p>
	{% endfor %}

	<br/>
{% endif %}